body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
  font-size: 1.25em;
  background-color: #e5ebeb;
  color: #403e39;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
